*.class

# Maven
dependency-reduced-pom.xml

# Package Files #
*.jar
*.war
*.ear

target
*.bak
*.swp
*~
bin
__*

#Eclipse stuff
.metadata
.settings
.classpath
.project
hs_err_pid*.log

#IntelliJ stuff
.idea
*.iml

#test files
x
xx
y
yy
z
zz

#Pig/Hive/Hadoop logs
pig_*.log
SecurityAuth-*.audit
hadoop*.log
*-audit.log
rm-appsummary.log

# Docker
devtools/docker/_m2/
devtools/docker/_gnupg/
